<div class="header">
  <div class="content">
    <div class="logo-section">
      <img
        class="logo"
        src="../../../../assets/img/CC Fabara-Logo-(Transparent).webp"
        alt="logo"
      />
      <div class="name">
        <p class="nolink">Club Ciclista Fabara</p>
      </div>
    </div>
    <div class="links">
      <nav>
        <div class="nav_links">
          <a class="underline hideOnMobile" (mouseenter)="closeBttMenu()" (click)="selectHome()">INICIO</a>
          <div class="nav-item hideOnMobile" [class.open]="isBttMenuOpen" (mouseenter)="openBttMenu()">
            <a class="underline" (click)="selectBtt()">BTT ALGARS 2025</a>
            <div class="submenu" (click)="$event.stopPropagation()">
              <a (click)="selectGaleria()">Galería</a>
            </div>
          </div>
          <a class="underline hideOnMobile" (mouseenter)="closeBttMenu()" (click)="selectEventos()">EVENTOS</a>
          <a
            class="underline hideOnMobile"
            style="display: none"
            (click)="selectGaleria()"
            >GALERIA</a
          >
          <a (mouseenter)="closeBttMenu()" (click)="showSidebar()"
            ><svg
              class="menu-btn"
              xmlns="http://www.w3.org/2000/svg"
              height="30"
              viewBox="0 -960 960 960"
              width="30"
            >
              <path
                d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
              /></svg
          ></a>
        </div>
        <div id="sidebar" class="sidebar">
          <div class="nav_links">
            <a
              ><svg
                (click)="hideSidebar()"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 -960 960 960"
                width="24"
              >
                <path
                  d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                /></svg
            ></a>
            <a class="underline" (click)="selectHome(); hideSidebar()"
              >INICIO</a
            >
            <a class="underline" (click)="selectBtt(); hideSidebar()">BTT ALGARS 2025</a>
            <a class="underline" style="margin-left: 16px" (click)="selectGaleria(); hideSidebar()">└ Galería</a>
            <a class="underline" (click)="selectEventos(); hideSidebar()">EVENTOS</a>
            <a
              class="underline"
              (click)="selectGaleria(); hideSidebar()"
              style="display: none"
              >GALERIA</a
            >
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
