<section class="div">
  <div class="limite">
    <div class="contenido">
      <div class="galeria">
        <app-img-bento />
      </div>
      <div class="texto">
        <div class="title">
          <h1>Acerca del Club...</h1>
        </div>
        <p>
          Si te gusta el ciclismo, especialmente el de montaña, y quieres
          conocer las pistas, sendas, paisajes y caminos por la zona del Baix
          Matarranya y el Algars, no dudes en ponerte en contacto con nosotros y
          te acompañamos en tus rutas.
        </p>
        <p>
          No solo de bici vive el Club, también organizamos otros deportes al
          aire libre como Senderismo y Trail.
        </p>
        <a href="#contacto"
          ><app-secondary-btn
            class="btn"
            style="display: none"
          ></app-secondary-btn
        ></a>
      </div>
    </div>
  </div>
</section>
<app-objetivos />
