<section class="obj">
  <div class="flex">
    <div class="contenido">
      <div class="pedaleando">
        <img src="../../../../../assets/img/mountain.png" alt="mountain" />
        <h2>Pedaleando</h2>
        <p>
          Nuestro principal objetivo es disfrutar del deporte de la bicicleta,
          cada uno según sus posibilidades y según sus preferencias,
          participando en rutas o carreras.
        </p>
      </div>
      <div class="cuidar">
        <img src="../../../../../assets/img/crank.png" alt="crank" />
        <h2>Cuida tu bici</h2>
        <p>
          El mantenimiento y la seguridad es también muy importante, por lo que
          desde el club te ayudaremos a mantener tu bici y tu seguridad en ruta.
        </p>
      </div>
      <div class="deportes">
        <img src="../../../../../assets/img/jersey.png" alt="jersey" />
        <h2>¿Sólo bici?</h2>
        <p>
          También podrás participar en otros deportes y rutas al aire libre,
          como carreras de Trail para lo más valientes o simplemente senderismo
          para conocer nuestra comarca.
        </p>
      </div>
    </div>
  </div>
</section>
