<div class="div">
  <div class="bento">
    <div class="img">
      <img
        class="horizontal"
        src="../../../../../assets/img/horizontal.jpeg"
        alt="img1"
      />
    </div>
    <div class="img">
      <img
        class="vertical"
        src="../../../../../assets/img/carrera2.webp"
        alt="img1"
      />
    </div>
    <div class="img">
      <img
        class="ciclista"
        src="../../../../../assets/img/raul.webp"
        alt="img1"
      />
    </div>
  </div>
</div>
