<section id="contacto">
  <div class="grid">
    <div class="map">
      <h1>¿Dónde estamos?</h1>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1032.7321089874947!2d0.16949886748976153!3d41.17538737239974!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a0b15b40b789e7%3A0xb5b725bfc07b153f!2sPabellon%20Polideportivo%20Fabara!5e0!3m2!1sen!2sus!4v1704452976345!5m2!1sen!2sus"
        width="400"
        height="250"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div class="socials">
        <a href="https://twitter.com/ccfabara" target="_blank">
          <img
            src="../../../../assets/img/twitter.png"
            alt="twitter"
            class="logo"
          />
        </a>
        <a href="https://www.instagram.com/ccfabara" target="_blank">
          <img
            src="../../../../assets/img/instagram.png"
            alt="instagram"
            class="logo"
          />
        </a>
        <a href="https://www.facebook.com/CCFabara/" target="_blank">
          <img
            src="../../../../assets/img/facebook.png"
            alt="facebook"
            class="logo"
          />
        </a>
      </div>
    </div>
    <div class="form">
      <h1>Contáctanos</h1>
      <app-formulario></app-formulario>
    </div>
  </div>
</section>
