<div class="main">
  <div class="section">
    <div class="panel">
      <div class="grid">
        <div class="img">
          <img
            src="../../../../assets/img/Btt_Algars3.jpeg"
            alt="Btt_Algars3"
          />
        </div>
        <div class="info">
          <div class="trj-info">
            <div class="info-prueba">
              <h2>INFORMACIÓN DE LA PRUEBA</h2>
              <p>
                <strong>Categorías</strong>: TODAS CATEGORIAS A PARTIR DE 15
                AÑOS
              </p>
              <p><strong>Lugar</strong>: FABARA</p>
              <p><strong>Fecha Celebración</strong>: 17/03/2024</p>
              <p><strong>Salida</strong>: 09:00</p>
              <p>
                <strong>Recogida de dorsales</strong>: 17/03/2024 desde 7:30
                hasta 8:45
              </p>
              <p><strong>Organizador:</strong> FABARA C.C.</p>
            </div>
            <div class="info-inscripcion">
              <h2>INFORMACIÓN DE LA INSCRIPCIÓN</h2>
              <p>
                <strong>Importe de la inscripción</strong>: 20,00 € Federados -
                32,00 € No Federados
              </p>
              <p><strong>Límite de participantes</strong>: 200 participantes</p>
              <p>
                <strong>Proceso de inscripción</strong>: Formulario Inscripción
                web Federación
              </p>
              <p>
                <strong>Fecha Límite de Inscripción</strong>: 14/03/2024
                23:59:59
              </p>
              <p>
                <strong>Correo para incidencias</strong>:
                info.ccfabara&#64;gmail.com
              </p>
            </div>
          </div>

          <div class="btn">
            <a
              href="https://aragonciclismo.com/index.php/smartweb/inscripciones/inscripcion/27390-III-BTT-ALGARS"
              target="_blank"
            >
              <app-primary-btn></app-primary-btn>
            </a>
            <app-secondary-btn (click)="moreInfo()"></app-secondary-btn>
          </div>
        </div>
      </div>
      <div class="boxpatro">
        <div class="patrocinadores">
          <a href="https://agrimar.net" target="_blank">
            <img src="../../../../assets/logos/Agrimar.webp" alt="Agrimar" />
          </a>
          <a href="https://brunet.bio" target="_blank">
            <img
              src="../../../../assets/logos/Brunet-(Transparent).webp"
              alt="Brunet"
            />
          </a>
          <a href="https://www.ganaderacaspe.com/principal/" target="_blank">
            <img
              src="../../../../assets/logos/cooperativa-ganadera-de-caspe 2.webp"
              alt="cooperativa-ganadera-de-caspe"
            />
          </a>
          <a href="https://mediterraneoinnova.com" target="_blank">
            <img
              class="mediterraneo"
              src="../../../../assets/logos/MediterraneaInnova-(Trasparent).webp"
              alt="Mediterranea Innova"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
