<div class="main">
  <div class="section">
    <div class="panel">
      <div class="grid">
        <div class="img">
          <img src="../../../../assets/img/Btt Algars.jpg" alt="Btt_Algars3" />
        </div>
        <div class="info">
          <div class="trj-info">
            <div class="info-prueba">
              <h2>INFORMACIÓN DE LA PRUEBA</h2>
              <p>
                <strong>Categorías</strong>: TODAS CATEGORIAS A PARTIR DE 15
                AÑOS
              </p>
              <p><strong>Lugar</strong>: FABARA</p>
              <p><strong>Fecha Celebración</strong>: 27/04/2025</p>
              <p><strong>Salida</strong>: 09:00</p>
              <p>
                <strong>Recogida de dorsales</strong>: 27/04/2025 desde 7:30
                hasta 8:45
              </p>
              <p><strong>Organizador:</strong> FABARA C.C.</p>
            </div>
            <div class="info-inscripcion">
              <h2>INFORMACIÓN DE LA INSCRIPCIÓN</h2>
              <p>
                <strong>Importe de la inscripción</strong>: 18,00 € Federados -
                25,00 € No Federados
              </p>
              <p style="color: red">
                <strong> Precios hasta el 31 de marzo. </strong>
              </p>
              <p style="margin-bottom: 4rem">
                <strong>Desde el 1 de abril:</strong> 23,00 € Federados - 30,00
                € No Federados
              </p>
              <p><strong>Límite de participantes</strong>: 200 participantes</p>
              <p>
                <strong>Proceso de inscripción</strong>:
                <a
                  style="color: rgb(73, 132, 77)"
                  href="https://aragonciclismo.com/index.php/smartweb/inscripciones/inscripcion/30741-BTT-ALGARS-2025"
                  >Formulario Inscripción web Federación</a
                >
              </p>
              <p>
                <strong>Fecha Límite de Inscripción</strong>: 24/04/2025
                23:59:59
              </p>
              <p>
                <strong>Correo para incidencias</strong>:
                info.ccfabara&#64;gmail.com
              </p>
            </div>
          </div>

          <div class="btn">
            <a
              href="https://aragonciclismo.com/index.php/smartweb/inscripciones/inscripcion/27390-III-BTT-ALGARS"
              target="_blank"
            >
              <app-primary-btn></app-primary-btn>
            </a>
            <app-secondary-btn (click)="moreInfo()"></app-secondary-btn>
          </div>
        </div>
      </div>
      <div class="boxpatro">
        <div class="patrocinadores">
          <a href="https://brunet.bio" target="_blank">
            <img
              src="../../../../assets/logos/Brunet-(Transparent).webp"
              alt="Brunet"
            />
          </a>
          <a href="https://www.frutastaberner.com/" target="_blank">
            <img
              src="../../../../assets/logos/Taberner.jpg"
              alt="Frutas Taberner"
            />
          </a>
          <a href="https://mediterraneoinnova.com" target="_blank">
            <img
              class="mediterraneo"
              src="../../../../assets/logos/MediterraneaInnova-(Trasparent).webp"
              alt="Mediterranea Innova"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
