<div class="backgorund-img">
  <div class="section">
    <div class="dark-layer">
      <div class="titulo">
        <app-logo></app-logo>
        <div class="upperBox"></div>
        <div class="text">
          <h1>Club Ciclista Fabara</h1>
          <h3>Tu club por el Baix Matarranya/Algars</h3>
        </div>
        <div class="downBox"></div>
      </div>
      <div class="scroll">
        <svg
          class="arrow-down"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m8 7 4 4 4-4m-8 6 4 4 4-4"
          />
        </svg>
      </div>
      <div class="fabara">
        <img
          src="../../../../assets/logos/Escudo_de_Fabara-big.webp"
          alt="Fabara"
        />
      </div>
    </div>
  </div>
</div>
