<div class="lowsection">
  <div class="logos">
    <div class="logo-federacion">
      <img
        src="../../../assets/logos/Logotipo-Aragon-Ciclismo-horizontal.gif"
        alt="Agrimar"
      />
    </div>
    <div class="logo-comarca">
      <img
        src="../../../assets/logos/Logo Comarca Baix Matarranya-Casp (Transparent).webp"
        alt="Agrimar"
      />
    </div>
    <div class="logo-fabara">
      <img class="fabara" src="../../../assets/logos/DPZLOGO.webp" alt="DPZ" />
    </div>
    <div class="logo-fabara">
      <img
        class="fabara"
        src="../../../assets/logos/Escudo_de_Fabara-big.webp"
        alt="Agrimar"
      />
    </div>
  </div>
</div>
