<div class="flex">
  <div class="patrocinadores">
    <div class="logo">
      <a href="https://agrimar.net" target="_blank">
        <img src="../../../assets/logos/Agrimar.webp" alt="Agrimar" />
      </a>
    </div>
    <div class="logo">
      <a href="https://brunet.bio" target="_blank">
        <img
          src="../../../assets/logos/Brunet-(Transparent).webp"
          alt="Brunet"
        />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.ganaderacaspe.com/principal/" target="_blank">
        <img
          src="../../../assets/logos/cooperativa-ganadera-de-caspe 2.webp"
          alt="Coperativa Agricola Caspe"
        />
      </a>
    </div>
    <div class="logo">
      <a href="https://mediterraneoinnova.com" target="_blank">
        <img
          src="../../../assets/logos/MediterraneaInnova-(Trasparent).webp"
          alt="Mediterránea Innova"
        />
      </a>
    </div>
    <div class="logo">
      <a href="https://www.instagram.com/samerain.es/" target="_blank">
        <img src="../../../assets/logos/Samerain-logo.webp" alt="Samerain" />
      </a>
    </div>
    <div class="logo">
      <a href="https://aracanenergia.es" target="_blank">
        <img
          src="../../../assets/logos/Aracan-(Transparent).webp"
          alt="Aracan SL"
        />
      </a>
    </div>
    <div class="logo">
      <img src="../../../assets/logos/vallMaria.webp" alt="Bar Tropical" />
    </div>
    <div class="logo">
      <a href="https://lagatera.es" target="_blank">
        <img
          src="../../../assets/logos/cropped-pnglogogatera2-3.webp"
          alt="La Gatera"
        />
      </a>
    </div>
    <div class="logo">
      <a
        href="https://www.escapadarural.com/casa-rural/zaragoza/casa-rural-cal-antoniet-del-matarrana"
        target="_blank"
      >
        <img
          src="../../../assets/logos/Cal Antoniet-(Transparent).webp"
          alt="Cal Antoniet"
        />
      </a>
    </div>
    <div class="logo">
      <img src="../../../assets/logos/Casino-(Transparent).webp" alt="Casino" />
    </div>

    <div class="logo">
      <img
        src="../../../assets/logos/Bar El Manzano - Caspe-(Transparen).webp"
        alt="El manzano"
      />
    </div>
    <div class="logo">
      <img
        src="../../../assets/logos/Bar Sport-(Transparent).webp"
        alt="Bar Sport"
      />
    </div>

    <div class="logo">
      <img
        src="../../../assets/logos/Caspe Repair-(Transparent).webp"
        alt="Caspe Repair"
      />
    </div>
    <div class="logo">
      <img
        src="../../../assets/logos/Excavaciones Ballesteros-(Transparent).webp"
        alt="Excavaciones Ballesteros"
      />
    </div>
    <div class="logo">
      <img
        src="../../../assets/logos/Forn del Punto-(Transparent).webp"
        alt="Forn del Punto"
      />
    </div>

    <div class="logo">
      <a href="https://www.instagram.com/krispinight/" target="_blank">
        <img src="../../../assets/logos/KrispiNight.webp" alt="KrispiNight" />
      </a>
    </div>

    <div class="logo">
      <a
        href="https://www.facebook.com/espectacles.juanos/?locale=es_ES"
        target="_blank"
      >
        <img
          src="../../../assets/logos/JuanosEspectacles-(Transparent).webp"
          alt="Juanos Espectacles"
        />
      </a>
    </div>
    <div class="logo">
      <img
        src="../../../assets/logos/Bar Tropical 2-(Transparent).webp"
        alt="Bar Tropical"
      />
    </div>
  </div>
</div>
